*{
    font-family: sans-serif;
}

#body {
    margin: 0;
    background-color: #56C0E7;
}
/*menu*/
#header {
    padding-left: 30px ;
    padding-right: 30px;
    position:sticky;
    background-color: #FAFAFA;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.nav-label, .nav-input{
    display: none;
    align-items: center;
}

.nav-menu{
    display: grid;
    grid-auto-flow:column;
    gap: 3em;
    
}
.links{
    font-weight: bolder;
    color: #9A9A9A ;
    text-decoration: none;
    justify-content: space-evenly;
}

.links:hover{
    color:#344A53;
}



.links{
    text-decoration: none;
    
    --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
    

}

.links::after{
    content: "";
    display: block;
   background-color: #344A53;
    width: 90%;
    margin-top: 3px;
    height: 3px;
    clip-path: var(--clippy);
    transition: clip-path .7s ;

}
.links:hover{
    --clippy : polygon(0 0, 100% 0, 100% 100%, 0 100%);

}

#btn-carrito{
    font-size: 18px;
    display: flex;
    font-weight: bolder;
    align-items: center;
    justify-content: center;
    background-color: #56C0E7;
    color: #FAFAFA;
    border-radius: 30px;
    padding-top: 7px;
    padding-bottom: 7px;
    border: none;
}

#btn-carrito:hover{
    background-color: #344A53 ;
}

@media (max-width: 790px){
    p{
        font-size:90%;
    }

    #btn-carrito{
        justify-content: center;
        padding-right: 5;
    }
    .links{
        padding-left: 20px;
    
    }
  
    .productoEnCarrito{
        display: block;
        color: #9A9A9A;
        justify-content: space-between;
        align-items: center;
    }

    .card-image{
        width: 100px;
    }
    .nav-label{
        padding-top: 15px;
        display: block;
        cursor: pointer;
    }
    .nav-menu{
        position: fixed;
        top: 0px;
        height: 145px;
        background-color:#FAFAFA ;
        width: 100%;
        left: 0px;
        display: inline;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: top;
        clip-path: circle(0 at center);
        transition: clip-path .1s ease-in-out;
    }

    .nav-input:checked + .nav-menu{
    clip-path: circle(100% at center);
    }
    #logo{
        width: 13vw;
    }
}




.modal-carrito {
    position: fixed;
    background-color: white;
    min-width: 500px;
    padding: 20px;
    margin-top: -100%;
    transition: all .5s;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  }


.card-image{
    width: 100%;
}

#categoria {
    color: #56C0E7;
}





header{
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

#cerrar-carrito{
    font-size: 18px;
    display: flex;
    font-weight: bolder;
    align-items: center;
    background-color: #56C0E7;
    color: #FAFAFA;
    border-radius: 30px;
    padding-top: 7px;
    padding-bottom: 7px;
    border: none;
}
#cerrar-carrito:hover{
    background-color: #344A53 ;
}

del{
    color: rgb(254, 120, 140);
}

.btn-comprar{
        font-size: 18px;
        display: flex;
        font-weight: bolder;
        justify-content: center;
        align-items: center;
        background-color: #56C0E7;
        color: #FAFAFA;
        border-radius: 30px;
        padding-top: 7px;
        padding-bottom: 7px;
        border: none;
    }
.btn-comprar:hover{
    background-color: #344A53;
}
#cerrar-carrito:hover{
        background-color: #344A53 ;
}
.btn-eliminar-del-carrito{
    font-size: 12px;
    display: flex;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    background-color: rgb(225, 76, 65);
    color: #FAFAFA;
    border-radius: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
}

.btn-eliminar-del-carrito:hover{
    background-color: #344A53;
}
/* Modal */
#modal::backdrop{
    background-color: rgba(0, 0, 0, 0.10);
}

#modal {
    background-color: #FAFAFA;
    color: #9A9A9A;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    width: 70%;
}
h2{
    color: #9A9A9A;
}
hr{
    color: #9A9A9A;
}

/* contenedor */
#producto-contenedor {
    display: grid;
    gap: 5rem;
    max-width: 100rem;
    margin: 60px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }


  
  .card .card-image .card-title {
    color: rgb(225, 76, 65);
    position: unset;
    
    align-items: center;
  }
  .card{
    color: #9A9A9A;
    font-weight: bold;
    margin: 5px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 25px 0px;
  }
  
  .modal-container {
    position: fixed;
    top: 0;
    width: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .modal-active{
    opacity: 1;
    visibility:  visible;
    z-index: 5;
  }
  .productoEnCarrito{
    display: flex;
    color: #9A9A9A;
    justify-content: space-around;
    align-items: center;
   
   }
   @media (max-width: 790px){
    
  
    .productoEnCarrito{
        display: block;
        color: #9A9A9A;
        justify-content: space-around;
        align-items: center;
    }}